/*
 * Globals
 */


/*
 * Base structure
 */

body {
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  */
}

.cover-container {
  max-width: 72em;
}

.container {
  padding-left: 20px;
  padding-right:20px ;
}



/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgb(75, 75, 75);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgb(228, 154, 28);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
  color: rgb(102, 102, 102);
}

.nav-masthead .active {
  color: rgb(228, 154, 28);
  border-bottom-color: rgb(228, 154, 28);
}


body, html {
  height: 100%;
  margin: 0;
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
}


/* The hero image */
.hero-image {
  /*Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*url("../02_assets/images/heroImage1.png ")*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 184, 28, 0.5)), url("https://www.dropbox.com/scl/fi/1o2vuf22tp0firzk002ug/heroImage1.png?rlkey=47ajwi521j759m6cd2628vcc1&dl=1");
  height: 60%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* The hero image */
.catalog-image {
  /*Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /*url("../02_assets/images/heroImage1.png ")*/
  background-image: linear-gradient(rgba(255, 255, 255, 0.5),rgba(247, 213, 139, 0.5)), url("https://www.dropbox.com/scl/fi/ejv8hal3j4mqjvn5we1pq/heroImage4.png?rlkey=cedweohkcaf5yjcwiqnf9jorq&dl=1");
  height: 80%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.catalog-text {
  text-align: center;
  position: absolute;
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(65, 65, 65);
}



/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.text-footer{
    --bs-text-opacity: 1;
    color: rgb(228, 154, 28);

}

#gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.gridItem {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  background: #fff;
  font-size: small;
}

.gridItem img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: Courier New, Verdana, sans-serif;
  color:#4d4d4d;
  }

selectedPart {
  font-family: Courier New, Verdana, sans-serif;

  color:#4d4d4d;
  }


.resultsCount {
  font-family: Inter,sans-serif;
  font-size: 16px;
  color:#ff0000;
}


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}



.Button{
  align-items: center;
  background-color:#FFB81C;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.Button:hover {
  background-color: #FFA21C; /* fix here implenia color  */
  color: white;
  border: 2px solid #fff;
}


.resultsCount{
  color:  #FFA21C;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: left;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  padding: 6px;
  margin: 6px;;
}

/* Style The Dropdown Button */
.filterMenu {
  background-color:#FFB81C;
  color: rgb(0, 0, 0);
  border: 3px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.filterInputRange{
  margin: 5px;
  width: 150px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; 

}
/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .filterMenu {
  background-color: rgb(228,154,28);
}




table {
border-collapse: collapse;
width: 100%    
}
table td,
table th{
  border: 1px, solid #ddd;
  padding: 0.5em;
}

table tr:nth-child(2n){
  background-color: #f2f2f2;
}

table tr:hover{
  background-color: #ddd;
}

table th{

  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  background-color: rgb(67, 67, 67);
  color:#ddd;
}

#gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.gridItem {
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  text-align: left;
  -webkit-text-fill-color: grey;
  background: #fff;
  cursor: pointer;
}
.gridItem:hover{
  -webkit-text-fill-color: black;
  text-emphasis-style: bold;
}

.gridItem img {
  max-width: 100%;
  height: auto;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  text-align: center;
}

.close {
  color: #aaa;
  float: center;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modalImage {
  width: 100%;
  height: auto;
}

#threeCanvas {
  width: 100%;
  height: 400px;
  background-color: #fefefe;
}
