<!DOCTYPE html>
<html lang="en">
<head>
    <!-- A page where a CSV is loaded and parsed. The objects are placed ina Grid with 3D Visualization and IFC Export-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iBC DEV - Catalog </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ibc.css') }}">
    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    
    <!--Some scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="{{ url_for('static', filename='d3.v5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lodash.min.js') }}"></script>
    
    <!-- Include your loader file as a module -->
    <script type="module" src="{{ url_for('static', filename='loadOBJ1.js') }}"></script>

    
    
</head>

<body class="d-flex h-100 ">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
       
          <div>
            <h3 class="float-md-start mb-0">iBC</h3>
            <nav class="nav nav-masthead justify-content-center float-md-end">
              <a class="nav-link fw-bold py-1 px-0" href="index.html">Home</a>
              <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="catalog.html">Building Element Catalog</a>
              <a class="nav-link fw-bold py-1 px-0" href="graphDB.html">GraphDB</a>
              <a class="nav-link fw-bold py-1 px-0" href="about.html">About</a>
            </nav>
          </div>

  

    <div class="catalog-image"  style = "padding-top: 50px;" style="padding-top: 200px;" >
        <div class="catalog-text"></div>

      </div> 
      <!-- a dummy class -->
    <div class="container"  style = "padding-bottom: 5px;" >
        
        <h1> Welcome to the Building Elements Catalog for Industrialized Construction - Alpha Version! </h1>
        <p>This is a Work in Progress, so excuse and report to us possible errors you might encounter!</p>
        
    </div> 

    
    <!--FILTERS SECTION--> 
    <div  class="container justify-content-left" style="padding-top: 50px;" >
        <div class="row">
             <!--fILE lOADER-->   
            <div class="col-md-4" id="FileLoad">
                <h2> Load Database   </h2>

                <input type="file" id="file" accept=".csv" style="display: none;">
                <label for="file" class="Button">Browse .csv file</label>
                <pre id="fileContent"></pre>
            
            </div>
                
            <div class="col-md-4" id="Filters">
                <h2> Search Elements..</h2>
                <label for="text"></label>
                <input type="text" class="filterInput" placeholder="What are you looking for?">
                <button id="filterButton" class="Button"> <i class="fa fa-search"></i></button>

               <label for="filter2">Element Position:</label><br>
               <select id="filterlist2" class="filterMenu">
                   <option value="">Filter by Position</option>
                   <option value="INTERNAL">Internal</option>
                   <option value="EXTERNAL">External</option>
               </select><br>

               <label for="filter1">Fabrication Type:</label><br>
               <select id="filterlist1" class="filterMenu">
                   <option value="">Filter by Fabrication Type</option>
                   <option value="2D Panels">2D Element</option>
                   <option value="3D Mod">3d Element</option>
                   <option value="Facade">Facade Element</option>
                   <option value="In Situ">In Situ</option>
               </select><br>

               <!--Range filter -->
               <label for="minThickness">Min Thickness:</label>
               <input type="number" id="minThickness" class="filterInputRange"><br>
               <label for="maxThickness">Max Thickness:</label>
               <input type="number" id="maxThickness" class="filterInputRange">
               <br>
                        
            </div>


            <div class="col-md-4" id="Filters">
                <h2> Results...</h2>
                <!-- <label for="text">Position (External, Internal):</label>
                <input type="text" class="filterInput" placeholder="Filter value 2"><br>
                <label for="text">Construction Type (i.e. 3d Mod, Facade, 2d, In Situ):</label>
                <input type="text" class="filterInput" placeholder="Filter value 3"><br>-->
                <div id="elementsCount" span style="color: rgb(0, 0, 0); font-size: large;"></div>
                <div id="resultsCount" span style="color: red; font-size: large;"></div>  
                 
                <!--filter button 
               <button id="filterButton" class="Button">Filter Elements</button>--> 
           </div>
        </div>
    <div>

    <!--The grid of filtered elements -->
    <div class="container" style ="padding-top: 50px;">
        <div id="gridContainer"></div>
    </div>

 <!-- Detail Modal -->
 <div id="detailModal" class="modal">
    <div class="modal-content">
        
        <span class="close">&times;</span>
        <img id="modalImage" src="" alt="Image">
        <div id="modalDetails"></div>

        <canvas id="threeCanvas"></canvas>
        <div class="row">
            <div class="col-md-4" >
                <button id="exportButton"  class="Button">Export as IFC</button>
            </div>
            <div class="col-md-4" >
                <button id="simpleViewButton"  class="Button">Simple View</button>
            </div>
            <div class="col-md-4" >
            <button id="detailedViewButton"  class="Button">Detailed View</button>
            </div>
        </div>
        
        <!--<form id="detailForm">
            <label for="width">Width:</label>
            <input type="text" id="width" name="width"><br>
            <label for="height">Height:</label>
            <input type="text" id="height" name="height"><br>
            <label for="depth">Depth:</label>
            <input type="text" id="depth" name="depth"><br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category"><br>
            <button type="button" id="submitDetails">Submit</button>
            
        </form>-->
    </div>
</div>
</div>

    <!--LOADER TEST
    <div class="container">
        <p>Click the following button to see the function in action</p>  
        <input type = "button" onclick = "init()" value = "Load Obj">  
    </div>-->
    <!-- 3d viewer 
    <div class="container" id="speckleViewer" style="padding: 40px;"> 
        <div id="3d Viewer">
            <h2> 3d Viewer! </h2>
            <iframe title="Speckle" src="https://app.speckle.systems/projects/f8fd6b29a7/models/625255f129#embed=%7B%22isEnabled%22%3Atrue%2C%22isTransparent%22%3Atrue%7D" width="100%" height="550" frameborder="0"></iframe>   
        </div>
    </div>-->
   

    <!-- Your JavaScript files -->
    <script src="{{ url_for('static', filename='IBC_app_0_1.js') }}"></script>
    <!-- Your JavaScript file 
    <script src="{{ url_for('static', filename='loadOBJ1.js') }}"></script> -->  

    <footer class="mt-auto text-white-50">
        <p>This project is a joint collaboration of <a href="https://implenia.com/" class="text-footer">Implenia</a>, and <a href="https://www.zhaw.ch/de/archbau/institute/ibp/" class="text-footer">@ZHAW IBP</a>  and is supported by <a href="https://www.innosuisse.ch/inno/de/home.html" class="text-footer">Innosuisse</a>  </p>
    </footer>
</body>
</html>