<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV to Grid with 3D Visualization and IFC Export</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ibc.css') }}">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!--Some scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="{{ url_for('static', filename='d3.v5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lodash.min.js') }}"></script>
    
</head>

<body>
    <!--HERO IMAGE-->
    
    <div class="hero-image">
        <div class="hero-text">
            <h1> Welcome to the Implenia Elements Catalog Alpha </h1>
            <p>This is a Work in Progress, so excuse and report to us possible errors you might encounter!</p>
        </div>
    </div> 
    
   
    <div class="container" style = "padding-top: 40px" > 
    </div>
    
    <!--FILTERS SECTION--> 
    <div  class="container">
        <div class="row">
             <!--fILE lOADER-->   
            <div class="col-md-6" id="FileLoad">
                <h2> Database File Loader   
                    <input type="file" id="file" accept=".csv" style="display: none;">
                    <label for="file" class="Button">Load .csv file</label>
                    <pre id="fileContent"></pre>
                </h2>
             <!--filter button -->
            <h2> Define the Filters   &
                <button id="filterButton" class="Button">Filter Elements</button>
                <div id="resultsCount" span style="color: red; font-size: large;"></div>
            </h2>
            
            </div>
            <div class="col-md-6" id="Filters">
                <label for="text">Element Type:</label>
                <input type="text" class="filterInput" placeholder="What are you looking for i.e. Wall?"> <br>
                <!-- <label for="text">Position (External, Internal):</label>
                <input type="text" class="filterInput" placeholder="Filter value 2"><br>
                <label for="text">Construction Type (i.e. 3d Mod, Facade, 2d, In Situ):</label>
                <input type="text" class="filterInput" placeholder="Filter value 3"><br>-->

                <label for="filter2">Element Position:</label>
                <select id="filterlist2" class="filterMenu">
                    <option value="">Where is the element?</option>
                    <option value="INTERNAL">Internal</option>
                    <option value="EXTERNAL">External</option>
                </select><br>

                <label for="filter1">Fabrication Type:</label>
                <select id="filterlist1" class="filterMenu">
                    <option value="">Select Fabrication Method</option>
                    <option value="2D Panels">2D Element</option>
                    <option value="3D Mod">3d Element</option>
                    <option value="Facade">Facade Element</option>
                    <option value="In Situ">In Situ</option>
                </select><br>
                

                <!--Range filter -->
                <label for="minThickness">Min Thickness:</label>
                <input type="number" id="minThickness" class="filterInputRange">
                <label for="maxThickness">Max Thickness:</label>
                <input type="number" id="maxThickness" class="filterInputRange">
                <br>
                
            </div>

        </div>
    <div>
    <!--filter button -->
    <div class="container">
        <div id="gridContainer"></div>
    
    </div>

 <!-- Detail Modal -->
 <div id="detailModal" class="modal">
    <div class="modal-content">
        
        <span class="close">&times;</span>
        <img id="modalImage" src="" alt="Image">
        <div id="modalDetails"></div>
        <canvas id="threeCanvas"></canvas>
        <button id="exportButton">Export as IFC</button>
        
        <!--<form id="detailForm">
            <label for="width">Width:</label>
            <input type="text" id="width" name="width"><br>
            <label for="height">Height:</label>
            <input type="text" id="height" name="height"><br>
            <label for="depth">Depth:</label>
            <input type="text" id="depth" name="depth"><br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category"><br>
            <button type="button" id="submitDetails">Submit</button>
            
        </form>-->
    </div>
</div>
    <!-- 3d viewer 
    <div class="container" id="speckleViewer" style="padding: 40px;"> 
        <div id="3d Viewer">
            <h2> 3d Viewer! </h2>
            <iframe title="Speckle" src="https://app.speckle.systems/projects/f8fd6b29a7/models/625255f129#embed=%7B%22isEnabled%22%3Atrue%2C%22isTransparent%22%3Atrue%7D" width="100%" height="550" frameborder="0"></iframe>   
        </div>
    </div>-->
   

    <!-- Your JavaScript files -->
    <script src="{{ url_for('static', filename='IBC_app_0_1.js') }}"></script>
    <!-- Your JavaScript file  
    <script src="{{ url_for('static', filename='3dmLoader1.js') }}"></script>-->  

    <footer class="mt-auto text-white-50">
        <p>This project is a joint collaboration of <a href="https://implenia.com/" class="text-white">Implenia</a>, and <a href="https://www.zhaw.ch/de/archbau/institute/ibp/" class="text-white">@ZHAW IBP</a>  and is supported by <a href="https://www.innosuisse.ch/inno/de/home.html" class="text-white">Innosuisse</a>  </p>
    </footer>
</body>
</html>